<style media="screen">
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  h1 {
    font-size: 38px;
    color: white;
    background-color: red;
    text-align: center;
    margin: 0 0 25px 0;
  }
  h3 {
    text-align: center;
  }
  .shows {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    border: 5px solid red;
    padding: 10px;
    max-height: 450px;
    line-height: 1.5;
    margin: 10px 0;
  }
  th, td {
    padding: 10px;
  }
  a {
    color: black;
    text-align: center;
  }

</style>


<h1>Favorite TV Shows</h1>

<div><%= flash[:notice] if flash[:notice] %></div>

<table class="shows">
  <h3>Shows</h3>
  <tr>
    <th>Title</th>
    <th>Rating</th>
  </tr>
  <% @shows.each do |show| %>
  <tr>
    <td><%= show.title %></td>
    <td><%= show.personal_rating %> Stars</td>
  </tr>
  <% end %>
</table>

<a href="/shows/new">Add a Favorite TV Show</a>
